<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="left-side col-md-8">
                <div class="card" style="height: 230px">
                    <div class="header">
                        <h4 class="title">Edit Product</h4>
                    </div>
                    <div class="content">
                        <div class="cold-md-12" style="height: 110px;">
                            <div class="col-md-2">
                                <div style="height: 23px;">ID: </div>
                                <div style="height: 23px">Name: </div>
                                <div style="height: 23px">Type: </div>
                                <div style="height: 23px">Image: </div>
                            </div>
                            <div class="col-md-3">
                                <div>{{prod.product.id}}</div>
                                <input [value]="prod.product.name"/>
                                <input [value]="prod.product.type"/>
                                <input [value]="prod.product.image"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button>Save</button><button style="margin-left: 10px;">Reset Fields</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-side col-md-4">
                <div class="card card-user" style="height: 231px;">
                    <div class="content"></div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
